[{:RAIngredient/amount 1000000,
  :RAIngredient/archived false,
  :RAIngredient/name "Woda",
  :RAIngredient/calorificValue 0,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Woda",
  :RAIngredient/price 150,
  :RAIngredient/unit "l"}
 {:RAIngredient/amount 1000000,
  :RAIngredient/archived false,
  :RAIngredient/name "Żeberka surowe",
  :RAIngredient/calorificValue 224,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Żeberka surowe",
  :RAIngredient/price 3300,
  :RAIngredient/unit "kg"}
 {:RAIngredient/amount 500000,
  :RAIngredient/archived false,
  :RAIngredient/name "Żeberka wędzone",
  :RAIngredient/calorificValue 340,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Żeberka wędzone",
  :RAIngredient/price 2150,
  :RAIngredient/unit "g"}
 {:RAIngredient/amount 1000000,
  :RAIngredient/archived false,
  :RAIngredient/name "Ziemniaki",
  :RAIngredient/calorificValue 76,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Ziemniaki",
  :RAIngredient/price 215,
  :RAIngredient/unit "kg"}
 {:RAIngredient/amount 1000000,
  :RAIngredient/archived false,
  :RAIngredient/name "Kiszona kapusta",
  :RAIngredient/calorificValue 19,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Kiszona kapusta",
  :RAIngredient/price 350,
  :RAIngredient/unit "kg"}
 {:RAIngredient/amount 100000,
  :RAIngredient/archived false,
  :RAIngredient/name "Mozzarella",
  :RAIngredient/calorificValue 280,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Mozzarella",
  :RAIngredient/price 230,
  :RAIngredient/unit "g"}
 {:RAIngredient/amount 1000000,
  :RAIngredient/archived false,
  :RAIngredient/name "Szynka",
  :RAIngredient/calorificValue 145,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Szynka",
  :RAIngredient/price 1934,
  :RAIngredient/unit "kg"}
 {:RAIngredient/amount 1000000,
  :RAIngredient/archived false,
  :RAIngredient/name "Pieczarki",
  :RAIngredient/calorificValue 30,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Pieczarki",
  :RAIngredient/price 1450,
  :RAIngredient/unit "kg"}
 {:RAIngredient/amount 25000000,
  :RAIngredient/archived false,
  :RAIngredient/name "Mąka",
  :RAIngredient/calorificValue 343,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Mąka",
  :RAIngredient/price 8959,
  :RAIngredient/unit "kg"}
 {:RAIngredient/amount 5000000,
  :RAIngredient/archived false,
  :RAIngredient/name "Przecier pomidorowy",
  :RAIngredient/calorificValue 82,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Przecier pomidorowy",
  :RAIngredient/price 9659,
  :RAIngredient/unit "kg"}
 {:RAIngredient/amount 500000,
  :RAIngredient/archived false,
  :RAIngredient/name "Oliwa z oliwek",
  :RAIngredient/calorificValue 884,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Oliwa z oliwek",
  :RAIngredient/price 3254,
  :RAIngredient/unit "ml"}
 {:RAIngredient/amount 3000000,
  :RAIngredient/archived false,
  :RAIngredient/name "Drożdże",
  :RAIngredient/calorificValue 325,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Drożdże",
  :RAIngredient/price 29800,
  :RAIngredient/unit "kg"}
 {:RAIngredient/amount 10000000,
  :RAIngredient/archived false,
  :RAIngredient/name "Cukier",
  :RAIngredient/calorificValue 384,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Cukier",
  :RAIngredient/price 9900,
  :RAIngredient/unit "kg"}
 {:RAIngredient/amount 5000000,
  :RAIngredient/archived false,
  :RAIngredient/name "Sól",
  :RAIngredient/calorificValue 0,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Sól",
  :RAIngredient/price 2309,
  :RAIngredient/unit "kg"}
 {:RAIngredient/amount 15000000,
  :RAIngredient/archived false,
  :RAIngredient/name "Makaron spaghetti",
  :RAIngredient/calorificValue 131,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Makaron spaghetti",
  :RAIngredient/price 14200,
  :RAIngredient/unit "kg"}
 {:RAIngredient/amount 3000000,
  :RAIngredient/archived false,
  :RAIngredient/name "Parmezan",
  :RAIngredient/calorificValue 431,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Parmezan",
  :RAIngredient/price 38600,
  :RAIngredient/unit "kg"}
 {:RAIngredient/amount 500000,
  :RAIngredient/archived false,
  :RAIngredient/name "Mielona wołowina",
  :RAIngredient/calorificValue 254,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Mielona wołowina",
  :RAIngredient/price 999,
  :RAIngredient/unit "g"}
 {:RAIngredient/amount 250000,
  :RAIngredient/archived false,
  :RAIngredient/name "Bita śmietana",
  :RAIngredient/calorificValue 230,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Bita śmietana",
  :RAIngredient/price 349,
  :RAIngredient/unit "g"}
 {:RAIngredient/amount 5000000,
  :RAIngredient/archived false,
  :RAIngredient/name "Lody truskawkowe",
  :RAIngredient/calorificValue 192,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Lody truskawkowe",
  :RAIngredient/price 4400,
  :RAIngredient/unit "l"}
 {:RAIngredient/amount 5000000,
  :RAIngredient/archived false,
  :RAIngredient/name "Lody waniliowe",
  :RAIngredient/calorificValue 207,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Lody waniliowe",
  :RAIngredient/price 4400,
  :RAIngredient/unit "l"}
 {:RAIngredient/amount 1000000,
  :RAIngredient/archived false,
  :RAIngredient/name "Pomarańcze",
  :RAIngredient/calorificValue 47,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Pomarańcze",
  :RAIngredient/price 623,
  :RAIngredient/unit "kg"}
 {:RAIngredient/amount 1000,
  :RAIngredient/archived false,
  :RAIngredient/name "Kiwi",
  :RAIngredient/calorificValue 61,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Kiwi",
  :RAIngredient/price 123,
  :RAIngredient/unit "units"}
 {:RAIngredient/amount 1000000,
  :RAIngredient/archived false,
  :RAIngredient/name "Szarlotka",
  :RAIngredient/calorificValue 270,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Szarlotka",
  :RAIngredient/price 2650,
  :RAIngredient/unit "kg"}
 {:RAIngredient/amount 25000000,
  :RAIngredient/archived false,
  :RAIngredient/name "Cynamon",
  :RAIngredient/calorificValue 0,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Cynamon",
  :RAIngredient/price 62980,
  :RAIngredient/unit "kg"}
 {:RAIngredient/amount 500000,
  :RAIngredient/archived false,
  :RAIngredient/name "Mleko",
  :RAIngredient/calorificValue 42,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Mleko",
  :RAIngredient/price 323,
  :RAIngredient/unit "ml"}
 {:RAIngredient/amount 10000000,
  :RAIngredient/archived false,
  :RAIngredient/name "Czekolada",
  :RAIngredient/calorificValue 0,
  :RAIngredient/restaurant "Restauracja Słoneczna",
  :db/id "Czekolada",
  :RAIngredient/price 39000,
  :RAIngredient/unit "kg"}]
