({:RARestaurant/unitSystem "metric",
  :RARestaurant/name "Restauracja Słoneczna",
  :RARestaurant/owner "Jan",
  :RARestaurant/subscriptionActive true,
  :RARestaurant/requestedSubscriptionActive true,
  :db/id "Restauracja Słoneczna"})
